__pycache__/
/target
/results
/old1.results
/old2.results
/logs
.env
.mcp.json
price_tracker.json
.claude
/examples
/examplle
/analyze
claim.json
.venv
tmpclaude-*-cwd
CLAUDE.md
.ruff_cache/
polymarket_websocket_market.md
order_book_strategy_full(1).docx